// process {
//   // Capture exit codes from upstream processes when piping
//   shell = ['/bin/bash', '-euo', 'pipefail']
//   maxForks = 1 // todo: check this val. can be n_cpus-1 but i dont know how well would it work in containers 
// }

// docker.enabled = false
docker.enabled = true

// singularity {
//   enabled = true
//   autoMounts = true
//   /*runOptions = "--containall"*/ //bf2raw bugs with this enabled
//   cacheDir = '/lustre/scratch126/cellgen/team283/imaging_sifs/cache/'
// }
